* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/wave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.youtube_icon a img,
.insta_icon a img {
  width: 35px;
}

.header_inner {
  position: relative;
}
.header_logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Vollkorn SC", serif;
  font-size: 40px;
  color: #ffffff;
  border: 1px solid red;
}

.header_click {
  display: inline-block;
  position: absolute;

  right: 20px;
  top: 20;
}

.header_signup,
.youtube_icon,
.insta_icon {
  display: inline;
}

.article {
  position: relative;
}

.center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 130px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Vollkorn SC", serif;
}

.header_signup button {
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid transparent;
  padding: 6px 10px;
  font-size: 15px;
  background-color: lightblue;
}

.youtube_icon,
.insta_icon {
  position: relative;
  top: 13px;
  margin: 10px;
}
